.order__section {
}

.order__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue {
  color: #082567 !important;
}

.bar__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  width: 438px;
  max-width: 100%;
  height: auto;
  position: relative;
}

.bar__track {
  width: 100%;
  height: auto;
  border-radius: 100%;
  box-shadow:
    0 3px 7px 0 rgba(97, 172, 199, 0.15),
    0 12px 12px 0 rgba(97, 172, 199, 0.13),
    0 28px 17px 0 rgba(97, 172, 199, 0.08),
    0 49px 20px 0 rgba(97, 172, 199, 0.02),
    0 77px 21px 0 rgba(97, 172, 199, 0);

  &.active {
    animation: bar 8s;
    animation-fill-mode: forwards;
  }
}

@keyframes bar {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(1550deg);
  }
  100% {
    transform: rotate(1530deg);
  }
}

.bar__pointer {
  width: 111px;
  height: auto;
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translateX(-50%);
}

.start__bar {
  width: 102px;
  height: 102px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #1944c4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 0 20px 0 #2e499a;

  &:hover {
    background-color: #42a753;
    box-shadow: 0 0 20px 0 #43774c;
  }
}

.order__block {
  display: none;
}

.order {
  width: 100%;
  height: auto;
  padding: 36px;
  border-radius: 14px;
  background: linear-gradient(154deg, #fef3c6 0%, #ffedd4 100%);
  border: 4px solid #20a115;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #0a0a0a;
  margin-bottom: 23px;
}

.order__form {
  width: 100%;
  height: auto;
}

.input__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 16px;

  label {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #364153;
  }

  input {
    width: 100%;
    height: auto;
    border: 2px solid #d1d5dc;
    border-radius: 10px;
    padding: 17px 18px;
    font-weight: 400;
    font-size: 17px;
    color: rgba(10, 10, 10, 0.5);
  }
}

.submit__btn {
  cursor: pointer;
  margin-bottom: 23px;
}

.order__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  color: #6a7282;
  margin: auto;
  margin-bottom: 23px;
  width: 100%;
  max-width: 520px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 540px) {
  .start__bar {
    width: 24vw;
    height: 24vw;
    font-size: 4.5vw;
  }
  .order {
    padding: 8vw 5vw;
    border-radius: 3vw;
    border-width: 1vw;
  }
  .order__title {
    font-size: 4.5vw;
    margin-bottom: 5vw;
  }
  .input__wrapper {
    gap: 2vw;
    margin-bottom: 4vw;
  }
  .input__wrapper label {
    font-size: 4vw;
  }
  .input__wrapper input {
    border-radius: 2vw;
    padding: 3vw;
    font-size: 4vw;
  }
  .submit__btn {
    margin-bottom: 5vw;
  }
  .order__info {
    font-size: 3.5vw;
    margin-bottom: 5vw;
  }
}
