.order__section {
}

.order__wrapper {
  width: 100%;
  max-width: 692px;
  margin: auto;
  padding-bottom: 50px;
}

.order {
  width: 100%;
  height: auto;
  background: linear-gradient(225deg, rgba(64, 154, 111, 0.3) 0%, rgba(255, 194, 75, 0.3) 99.66%);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 80px;
}

.order__block {
  border-radius: 10px;
  border: 2px solid rgba(64, 154, 111, 0.3);
  padding: 40px 110px 18px;
}

.order__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #409a6f;
  margin-bottom: 30px;
}

.order__price {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #1d1d1b;
  margin-bottom: 20px;
}

.new__price {
  font-weight: 800;
  color: #ff8743;
}

.order__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;
  color: #1d1d1b;
  margin-bottom: 40px;
}

.old__price {
  text-decoration: line-through;
}

.order__form {
  width: 100%;
  height: auto;
  padding: 0 15px;
}

.order__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #1d1d1b;
  margin-bottom: 10px;
}

.input__wrapper {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  height: 46px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #1d1d1b;
  border-radius: 5px;
  padding: 0px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #7b7879;
}

.textarea {
  display: block;
  width: 100%;
  height: 79px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #7b7879;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #1d1d1b;
  padding: 12px;
  resize: vertical;
}

.order__btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  box-shadow: 4px 4px 20px 0 rgba(9, 8, 8, 0.1);
  background: #ff8743;
  border-radius: 5px;
  padding: 18px 24px;
  width: 100%;
  display: inline-block;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    background: #a15123;
  }
}

.order__info {
  margin-top: 24px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #1d1d1b;
}

.order__quantity {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;
  color: #1d1d1b;
}

.prod__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 34px;
}

.prod__img {
  width: 262px;
  height: auto;
  border-radius: 5px;
  flex-shrink: 0;
}

.prod__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #1d1d1b;
  margin-bottom: 20px;
}

.prod__list {
  font-size: 16px;
  line-height: 1.6;
  color: #1d1d1b;
  padding-left: 20px;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

@media (max-width: 700px) {
  .order__block {
    padding: 40px 30px 18px;
  }
  .prod__info {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 540px) {
  .order__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .order {
    width: 100vw;
    padding: 2.5vw;
    margin-bottom: 7vw;
  }
  .order__form {
    padding: 0;
  }
  .order__block {
    padding: 6vw 4.5vw 3vw;
  }
  .order__title {
    font-size: 4.5vw;
    margin-bottom: 4.5vw;
  }
  .order__price {
    font-size: 3.5vw;
    margin-bottom: 3vw;
  }
  .order__text {
    font-size: 3vw;
    margin-bottom: 9vw;
  }
  .order__label {
    font-size: 3vw;
    margin-bottom: 2vw;
  }
  .input__wrapper {
    margin-bottom: 4.5vw;
  }
  .input {
    height: 11vw;
    padding: 0px 3vw;
    font-size: 3.5vw;
  }
  .textarea {
    height: 20vw;
    font-size: 3.5vw;
    padding: 3vw;
  }
  .order__btn {
    font-size: 3.5vw;
    padding: 4vw 5.5vw;
  }
  .order__info {
    margin-top: 5vw;
    margin-bottom: 6vw;
    font-size: 3vw;
  }
  .prod__info {
    gap: 6vw;
  }
  .prod__img {
    width: 55vw;
  }
  .prod__title {
    font-size: 4vw;
    margin-bottom: 3vw;
  }
  .prod__list {
    font-size: 4vw;
    padding-left: 6vw;
    gap: 3vw;
  }
}
