.gallery {
    background-image: url(../img/gallery-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gallery__wrapper {
    padding: 207px 0 159px;
}

.gallery__left {
}
.gallery__title {
}
.header__list {
}
.header__list-item {
}
.order__btn {
}
.info__order {
}
.gallery__slider {
}
.owl-carousel {
}
.gallery__slide {
}
.gallery__img {
}
