.info__section {
}

.info__section-wrapper {
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 94px;
}

.info__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.info__block-img {
  border-radius: 12px;
  overflow: hidden;
  box-shadow:
    0 8px 10px -6px rgba(0, 0, 0, 0.1),
    0 20px 25px -5px rgba(0, 0, 0, 0.1);
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}

.info__block-tag {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: auto;
  height: auto;
  border: 1px solid #c5c6cf;
  border-radius: 8px;
  padding: 13px 16px 10px;
  background: rgba(247, 249, 251, 0.9);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #031636;
}

.info__block-content {
  width: 492px;
  height: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.info__block-text-big {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #191c1e;
}

.info__block-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #44474e;
}

.info__block-bg {
  border: 1px solid #c5c6cf;
  border-radius: 12px;
  padding: 24px;
  background: #1a2b4c;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #d3d6dd;
}

.info__doctor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.info__doctor-content {
  width: 100%;
  max-width: 550px;
  border-left: 8px solid #031636;
  border-radius: 0 12px 12px 0;
  padding: 24px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #f7f9fb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.info__doctor-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.info__doctor-icon {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: rgba(3, 22, 54, 0.1);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 20px;
    height: auto;
  }
}

.info__doctor-body {
  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #031636;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #44474e;
  }
}

.info__doctor-text {
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 1.5;
  color: #191c1e;
}

.info__doctor-small {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  color: #44474e;
}

.info__doctor-img {
  width: 500px;
  height: auto;
  border-radius: 30px;
}

@media (max-width: 1080px) {
  .info__block {
    flex-direction: column;
    align-items: center;
  }
  .info__block-content {
    width: 100%;
  }
  .info__doctor {
    flex-direction: column;
    align-items: center;
  }
  .info__doctor-content {
    width: 100%;
    max-width: 100%;
  }
  .info__doctor-img {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .info__block-img {
    border-radius: 0;
    width: 100vw;
  }
  .info__block-content {
    gap: 6vw;
  }
  .info__block-text-big {
    font-size: 4.5vw;
  }
  .info__block-text {
    font-size: 4vw;
  }
  .info__block-bg {
    border-radius: 3vw;
    padding: 6vw;
    font-size: 3.6vw;
  }
  .info__section-wrapper {
    padding-bottom: 0;
    gap: 6vw;
  }
  .info__doctor {
    gap: 4vw;
  }
  .info__doctor-content {
    border-left: 2vw solid #031636;
    padding: 6vw;
    gap: 4vw;
  }
  .info__doctor-top {
    gap: 4vw;
  }
  .info__doctor-icon {
    width: 12vw;
    height: 12vw;
  }
  .info__doctor-icon img {
    width: 5vw;
  }
  .info__doctor-body h3 {
    font-size: 4vw;
  }
  .info__doctor-body p {
    font-size: 3.2vw;
  }
  .info__doctor-text {
    font-size: 4vw;
  }
  .info__doctor-small {
    font-size: 3.2vw;
  }
  .info__doctor-img {
    border-radius: 7vw;
  }
}

.info-2__section {
  border-bottom: 1px solid #c5c6cf;
  border-top: 1px solid #c5c6cf;
  background: #f2f4f6;
}

.info-2__section-wrapper {
  padding: 64px 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 24px;
}

.info-2__left {
  border: 1px solid #c5c6cf;
  border-radius: 16px;
  padding: 32px;
  background: #f7f9fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.info-2__left-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #191c1e;
}

.info-2__left-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.info-2__left-item {
  border: 1px solid rgba(197, 198, 207, 0.5);
  border-radius: 12px;
  padding: 16px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.info-2__icon {
  flex-shrink: 0;
}

.info-2__left-body {
  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #031636;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #44474e;
  }
}

.info-2__right {
  border: 2px solid #855300;
  border-radius: 16px;
  padding: 32px;
  box-shadow:
    0 8px 10px -6px rgba(0, 0, 0, 0.1),
    0 20px 25px -5px rgba(0, 0, 0, 0.1);
  background: #1a2b4c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.info-2__right-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.info-2__right-icon {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  flex-shrink: 0;
  background: rgba(133, 83, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 24px;
    height: auto;
  }
}

.info-2__right-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #fff;
}

.info-2__right-blockquote {
  border-left: 4px solid #855300;
  padding: 0 0 0 24px;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 1.5;
  color: #8293ba;
}

.info-2__right-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  li {
    padding-left: 32px;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #8293ba;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      background-image: url(../img/icon-6.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

.info-2__order {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #2a1700;
  background: #bc7602;
  border-radius: 8px;
  transition: 0.3s ease;

  &:hover {
    background: #e08a00;
  }
}

@media (max-width: 1080px) {
  .info-2__section-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 540px) {
  .info-2__section-wrapper {
    padding: 18vw 0;
    gap: 6vw;
  }
  .info-2__left {
    border-radius: 4vw;
    padding: 8vw;
    gap: 6vw;
  }
  .info-2__left-title {
    font-size: 4.5vw;
  }
  .info-2__left-items {
    gap: 4vw;
  }
  .info-2__left-item {
    border-radius: 3vw;
    padding: 4vw;
    gap: 4vw;
  }
  .info-2__left-body h3 {
    font-size: 4vw;
  }
  .info-2__left-body p {
    font-size: 4vw;
  }
  .info-2__right {
    border-radius: 4vw;
    padding: 8vw;
    gap: 6vw;
  }
  .info-2__right-top {
    gap: 4vw;
  }
  .info-2__right-icon {
    width: 8vw;
    height: 8vw;
  }
  .info-2__right-icon img {
    width: 5vw;
  }
  .info-2__right-title {
    font-size: 4.5vw;
  }
  .info-2__right-blockquote {
    border-left: 1vw solid #855300;
    padding: 0 0 0 5vw;
    font-size: 4vw;
  }
  .info-2__right-list {
    gap: 4vw;
  }
  .info-2__right-list li {
    padding-left: 7vw;
    font-size: 4vw;
  }
  .info-2__right-list li:before {
    width: 5vw;
    height: 5vw;
  }
  .info-2__order {
    padding: 4vw;
    font-size: 4vw;
    border-radius: 2vw;
  }
}
