.info__section {
  background: #f2eee8;
}

.info__section-wrapper {
  padding: 92px 0;
}

.info__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  margin-bottom: 40px;
}

.info__item {
  grid-column: span 2;
  border: 1px solid #e6dfd5;
  border-radius: 20px;
  background: #fff;
  padding: 21px 23px;
}

.info__item-4 {
  grid-column: 2 / span 2;
}

// .info__item-4 ~ .info__item {
//   grid-column: span 1;
// }

.info__item-icon {
  width: 62px;
  height: auto;
  margin-bottom: 12px;
  margin-left: -6px;
}

.info__item-number {
  font-family: var(--second-family);
  font-size: 11px;
  letter-spacing: 0.1em;
  color: #c42a22;
}

.info__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #1f1b19;
}

.info__item-text {
  font-size: 14px;
  line-height: 1.5;
  color: #7a746e;
}

.info__block {
  border: 1px solid #e6dfd5;
  border-radius: 24px;
  box-shadow:
    0 2px 6px 0 rgba(31, 27, 25, 0.05),
    0 1px 2px 0 rgba(31, 27, 25, 0.04);
  background: #fff;
  padding: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;

  .tag {
    margin-bottom: 14px;
  }
}

.info__img {
  width: 455px;
  height: auto;
  flex-shrink: 0;
  border-radius: 16px;
}

.info__content {
}

.info__content-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #1f1b19;
  margin-bottom: 16px;
}

.info__content-text {
  font-size: 17px;
  color: #7a746e;
  margin-bottom: 20px;
}

.info__content-item {
  border: 1px solid #efe9df;
  border-radius: 12px;
  background: #f2eee8;
  padding: 16px;
  padding-left: 44px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #1f1b19;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    background-color: #f6e5e2;
    background-image: url(../img/header-icon-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px auto;
  }
}

@media (max-width: 1080px) {
  .info__block {
    flex-direction: column;
    align-items: center;
  }
  .info__img {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .info__section-wrapper {
    padding: 11.5vw 0;
  }
  .info__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4vw;
    margin-bottom: 7vw;
    padding: 0 4vw;
  }
  .info__item {
    grid-column: 1;
    border-radius: 4.8vw;
    padding: 5vw;
  }
  .info__item-icon {
    width: 15vw;
    margin-bottom: 3vw;
    margin-left: -1.5vw;
  }
  .info__item-number {
    font-size: 3vw;
  }
  .info__item-title {
    font-size: 4vw;
  }
  .info__item-text {
    font-size: 3.5vw;
  }
  .info__block {
    border-radius: 5vw;
    padding: 5vw;
    gap: 6vw;
  }
  .info__img {
    border-radius: 4vw;
  }
  .info__block .tag {
    margin-bottom: 3vw;
  }
  .info__content-title {
    font-size: 4.8vw;
    margin-bottom: 3.5vw;
  }
  .info__content-text {
    font-size: 4vw;
    margin-bottom: 4.8vw;
  }
  .info__content-item {
    border-radius: 3vw;
    padding: 3.8vw;
    padding-left: 10.5vw;
    margin-bottom: 2.5vw;
    font-size: 3.2vw;
  }
  .info__content-item:before {
    width: 4.4vw;
    height: 4.4vw;
    left: 4vw;
    background-size: 2.6vw auto;
  }
}
