.header {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__top {
  border-bottom: 2px solid rgba(141, 141, 141, 0.5);
}

.header__top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header__logo {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
  color: var(--text-color);

  img {
    width: 42px;
    height: auto;
  }
}

.header__nav {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.header__nav-link {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
  line-height: normal;
  position: relative;

  &.active {
    font-weight: 700;
  }

  &:before {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--text-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}

.header__wrapper {
  padding: 19px 0 733px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.1;
  text-transform: capitalize;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 18px;
}

.header__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 24px;

  span {
    font-weight: 700;
  }
}

.order__btn {
  width: 344px;
  height: auto;
  padding: 8px 8px 8px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 42px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  background: var(--darkorange-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: center;
  color: var(--white-color);
  transition: 0.3s ease;

  &:hover {
    background-color: var(--text-color);
  }
}

.order__btn-logo {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);

  img {
    width: 24px;
    height: auto;
  }
}

@media (max-width: 1480px) {
  .header__wrapper {
    padding: 19px 0 650px;
  }
}

@media (max-width: 1280px) {
  .header__title {
    font-size: 62px;
  }
  .header__wrapper {
    padding: 19px 0 560px;
  }
}

@media (max-width: 1080px) {
  .header {
    background-image: url(../img/header-bg-mobile.jpg);
  }
  .header__top-wrapper {
    justify-content: center;
  }
  .header__nav {
    display: none;
  }
  .header__wrapper {
    padding: 19px 0 100px;
  }
  .header__text {
    margin-bottom: 400px;
  }
}

@media (max-width: 540px) {
  .header {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 60vw;
      left: 0;
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 100%);
    }
  }
  .header__top-wrapper {
    padding: 3.5vw 0;
  }
  .header__logo {
    gap: 1vw;
    font-size: 5.5vw;
  }
  .header__logo img {
    width: 10vw;
  }
  .header__wrapper {
    padding: 4.5vw 0 65vw;
  }
  .header__title {
    font-size: 11.8vw;
    margin-bottom: 4vw;
  }
  .header__text {
    font-size: 5.5vw;
    margin-bottom: 65vw;
  }
  .order__btn {
    width: 100%;
    max-width: 344px;
    font-size: 4.5vw;
  }
}
