.order {
  background-image: url(../img/order-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order__wrapper {
  padding: 100px 0 75px;
}

.order__content {
  width: 100%;
  max-width: 530px;
}

.order__title {
  font-weight: 700;
  font-size: 42px;
  text-transform: capitalize;
  line-height: normal;
  color: var(--text-color);
  margin-bottom: 14px;
}

.order__text {
  font-weight: 400;
  font-size: 24px;
  color: var(--text-color);

  span {
    font-weight: 700;
  }
}

.order__block {
  margin: 40px 0;
  width: 100%;
  height: auto;
  border-radius: 30px;
  background-color: var(--white-color);
  box-shadow: 0 30px 25px 0 rgba(0, 0, 0, 0.05);
  padding: 45px 35px 35px;
}

.order__price {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 21px;
  gap: 5px;
  font-family: var(--second-family);
  line-height: 1.3;
}

.new__price {
  font-weight: 700;
  font-size: 64px;
  color: var(--darkorange-color);
}

.order__price-info {
  font-weight: 500;
  font-size: 20px;
  color: var(--grey-color);
}

.order__form {
  width: 100%;
  height: auto;
}

.input__wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  height: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--darkgrey-color);
  padding: 13px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.15);
  background: var(--white-color);
  transition: 0.3s ease;

  &:focus {
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.3);
  }
}

.order__submit {
  width: 100%;
  height: auto;
  margin-top: 9px;
  border-radius: 10px;
  background-color: var(--text-color);
  padding: 23px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background-color: var(--darkgrey-color);
  }
}

.order__info {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);

  span {
    font-weight: 700;
  }
}

@media (max-width: 540px) {
  .order {
    background-image: url(../img/order-bg-mobile.jpg);
    background-position: center bottom;
  }
  .order__wrapper {
    padding: 16vw 0 10vw;
  }
  .order__title {
    font-size: 10vw;
    margin-bottom: 3vw;
    text-align: center;
  }
  .order__text {
    font-size: 5vw;
    text-align: center;
  }
  .order__block {
    margin-top: 60vw;
    margin-bottom: 4.5vw;
    padding: 7vw 3vw 8vw;
  }
  .order__price {
    width: auto;
    flex-direction: column;
    align-items: center;
    line-height: 1.1;
    margin-bottom: 3vw;
  }
  .new__price {
    font-size: 15vw;
  }
  .order__price-info {
    font-size: 4.5vw;
    align-self: flex-end;
    padding-right: 9vw;
  }
  .order__info {
    font-size: 3.5vw;
    text-align: center;
  }
  .input {
    font-size: 4.5vw;
    padding: 3vw;
  }
  .order__submit {
    margin-top: 2vw;
    padding: 5.5vw;
    font-size: 4.5vw;
  }
}
