.prize {
}

.prize__wrapper {
}

.prize__content {
  padding: 158px 0;
  position: relative;
  width: 100%;
  max-width: 530px;
  margin-left: auto;

  .tag {
    text-align: left;
  }
}

.tag {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  line-height: normal;
  text-align: center;
  color: var(--darkorange-color);
  margin-bottom: 14px;
}

.prize__title {
  font-weight: 700;
  font-size: 42px;
  text-transform: capitalize;
  color: var(--text-color);
  line-height: normal;
  margin-bottom: 14px;
}

.prize__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.85;
  color: var(--darkgrey-color);
  margin-bottom: 36px;

  span {
    font-weight: 700;
  }
}

.prize__img {
  width: 950px;
  height: auto;
  border-radius: 0 30px 30px 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1080px;
}

@media (max-width: 1480px) {
  .prize__content {
    padding: 120px 0;
  }
  .prize__img {
    width: 900px;
    left: -960px;
  }
}

@media (max-width: 1280px) {
  .prize__content {
    max-width: 420px;
  }
  .prize__title {
    font-size: 38px;
  }
  .prize__text {
    margin-bottom: 20px;
  }
  .prize__img {
    width: 840px;
    left: -880px;
  }
}

@media (max-width: 1080px) {
  .prize__img {
    width: 100vw;
    position: static;
    transform: none;
    border-radius: 0;
    margin-top: 40px;
  }
  .prize__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 70px;
  }
  .prize__content .tag {
    text-align: center;
  }
  .prize__title {
    font-size: 42px;
    text-align: center;
  }
  .prize__text {
    text-align: center;
  }
}

@media (max-width: 540px) {
  .prize__content {
    padding-top: 17vw;
  }
  .tag {
    font-weight: 600;
    font-size: 4.5vw;
    margin-bottom: 3vw;
  }
  .prize__title {
    font-size: 8vw;
    margin-bottom: 6.5vw;
  }
  .prize__text {
    margin-bottom: 6.5vw;
    font-size: 4.5vw;
  }
  .prize__img {
    margin-top: 9.5vw;
  }
}
