@import "variables";
@import "reset";
@import "fonts";
@import "main";
@import "modal";
@import "header";
@import "advantage";
@import "info";
@import "gallery";
@import "card";
@import "review";
@import "footer";

