:root {
    --font-family: "Gilroy", sans-serif;
    --second-family: "Inter", sans-serif;
    --text-color: #1E1E1E;
    --grey-color: #8D8D8D;
    --white-color: #fff;
    --darkgrey-color: #4B4B4B;
    --darkorange-color: #E58411;
    --orange-color: #F6973F;
    --altwhite-color: #F7F7F7;
    --lightgrey-color: #EFEFEF;
}