.description__section {
  background-image: url(../img/descr-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.description__section-wrapper {
  padding: 60px 0 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.description__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 100px rgba(32, 36, 19, 0.5);
  margin-bottom: 450px;
}

.description__item {
  width: auto;
  max-width: 311px;
  position: absolute;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;

  &:before {
    content: "";
    width: 177px;
    height: 40px;
    background-image: url(../img/descr-line.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: -190px;
    top: 50%;
  }
}

.description__item-1 {
  top: 30%;
  left: 41%;
}

.description__item-2 {
  top: 48%;
  left: 22%;
}

.description__item-3 {
  top: 85%;
  left: 58%;

  &:before {
    right: auto;
    left: -190px;
    transform: scaleX(-1);
  }
}

.description__info {
  width: 282px;
  height: auto;
  align-self: flex-end;
  border-radius: 10px;
  background: linear-gradient(270deg, #6f6f6f 0%, rgba(1, 1, 1, 0.7) 74.06%);
  padding: 22px 10px 10px;
}

.description__info-text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.description__info-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 1280px) {
  .description__item-2 {
    top: 48%;
    left: 17%;
  }
  .description__item-1 {
    top: 30%;
    left: 38%;
  }
  .description__item-3 {
    top: 82%;
    left: 59%;
  }
}

@media (max-width: 1080px) {
  .description__title {
    font-size: 70px;
    margin-bottom: 600px;
  }
  .description__item {
    max-width: 260px;
    font-size: 18px;
  }
  .description__item-2 {
    top: 45%;
    left: 11%;
  }
  .description__item-3 {
    top: 78%;
    left: 45%;
  }
  .description__item-3:before {
    width: 124px;
    height: 83px;
    background-image: url(../img/descr-line-3-mobile.png);
    right: auto;
    left: -134px;
    top: 50%;
    transform: none;
  }
}

@media (max-width: 860px) {
  .description__title {
    font-size: 70px;
    margin-bottom: 370px;
  }
  .description__item {
    max-width: 160px;
    font-size: 18px;
  }
  .description__item-1 {
    top: 30%;
    left: 41%;
  }
  .description__item-1:before {
    width: 120px;
    height: 40px;
    background-image: url(../img/descr-line-1-mobile.png);
    right: -130px;
    top: 50%;
  }
  .description__item-2 {
    top: 45%;
    left: 39%;
  }
  .description__item-2:before {
    width: 52px;
    height: 67px;
    background-image: url(../img/descr-line-2-mobile.png);
    right: 50%;
    top: auto;
    transform: translateX(50%);
    bottom: -70px;
  }
  .description__item-3 {
    top: 76%;
    left: 55%;
  }
  .description__info {
    width: 245px;
  }
}

@media (max-width: 540px) {
  .description__section {
    background-image: url(../img/descr-bg-mobile.jpg);
  }
  .description__section-wrapper {
    padding: 12vw 0 4vw;
  }
  .description__title {
    font-size: 13vw;
    margin-bottom: 110vw;
  }
  .description__info {
    width: 53vw;
    border-radius: 2.5vw;
    padding: 4vw 2.5vw 2.5vw;
  }
  .description__info-text {
    font-size: 4.5vw;
    margin-bottom: 3vw;
  }
  .description__info-img {
    border-radius: 2.5vw;
  }
  .description__item {
    max-width: 42.7vw;
    font-size: 4.5vw;
  }
  .description__item-1 {
    max-width: 20vw;
    top: 28%;
    left: 29%;
  }
  .description__item-1:before {
    width: 32vw;
    height: 10.7vw;
    right: -34vw;
  }
  .description__item-2 {
    top: 50%;
    left: 27%;
  }
  .description__item-2:before {
    width: 13.85vw;
    height: 17.85vw;
    bottom: -18vw;
  }
  .description__item-3 {
    top: 73%;
    left: 75%;
  }
  .description__item-3:before {
    width: 33.05vw;
    height: 22.15vw;
    left: -35vw;
  }
}
