:root {
    --font-family: "Inter", sans-serif;
    --text-color: #e3e2e8;
    --bg-color: #121317;
    --text-nav-link: rgba(227, 226, 232, 0.7);
    --text-alt-color: #00daf3;
    --text-dark-color: #001f24;
    --tag-bg-color: #292a2e;
    --text-color-gray: #c4c6cc;
    --info-item-color: #1a1b20;
    --white-color: #fff;
    --charact-bg-color: #343439;
}