[id^="modal"] {
  display: none;
  max-width: 600px !important;
  margin: auto;
}
[id^="modal"] p {
  font-size: 16px;
  margin-bottom: 10px;
}

[id^="modal"] h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

[id^="modal"] h6 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (max-width: 540px) {
  [id^="modal"] p {
    font-size: 4vw;
    margin-bottom: 2.5vw;
  }

  [id^="modal"] h2 {
    font-size: 6vw;
    margin-bottom: 5vw;
  }

  [id^="modal"] h6 {
    font-size: 5vw;
    margin-bottom: 2.5;
  }
  .fancybox-content {
    padding: 44px 15px 20px;
  }
}