.info__section {
}

.info__section-wrapper {
  padding: 116px 0;
}

.info__content {
  width: 600px;
  height: auto;
  position: relative;
  z-index: 1;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  .format__title {
    text-align: left;
  }
  .format__text {
    text-align: left;
  }
}

.info__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;

  li {
    padding-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    position: relative;

    &:before {
      content: "";
      width: 18px;
      height: 19px;
      background-image: url(../img/info-icon.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

.info__decor {
  position: absolute;
  top: 50%;
  left: -464px;
  z-index: -1;
  transform: translateY(-50%);
  width: 279px;
  height: auto;

  &:before {
    content: "";
    height: 100%;
    width: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    background: linear-gradient(171deg, #d4af37 0%, #e8d48a 100%);
    filter: blur(200px);
  }

  img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 1280px) {
  .info__decor {
    left: -370px;
  }
}

@media (max-width: 1080px) {
  .info__decor {
    position: relative;
    transform: none;
    top: auto;
    left: auto;
    align-self: center;
    width: 180px;
  }
  .info__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info__content .format__title {
    text-align: center;
  }
  .info__content .format__text {
    text-align: center;
  }
  .info__list {
    align-items: center;
  }
}

@media (max-width: 540px) {
  .info__section-wrapper {
    padding: 10vw 0;
  }
  .info__content {
    gap: 4vw;
  }
  .info__decor {
    width: 40vw;
  }
  .info__decor:before {
    filter: blur(50px);
  }
  .info__list {
    align-items: flex-start;
    gap: 2.5vw;
  }
  .info__list li {
    font-size: 3.8vw;
  }
}
