.header__section {
  width: 100%;
  height: auto;
  background: linear-gradient(
    180deg,
    #0c2446 0%,
    #0e2749 6.71%,
    #0e274a 14.33%,
    #0e2647 28.45%,
    #0a2140 45.02%,
    #0b1b3a 63.86%,
    #071634 72.36%,
    #07142f 80.54%,
    #07122f 91.19%,
    #05132e 100%
  );
  box-shadow: 0 2px 4px 0 rgba(5, 19, 46, 0.2);
  position: relative;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 95px;
}

.header__logo {
  width: 108px;
  height: auto;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 44px;
}

.header__nav-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}

.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.header__right-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  img {
    width: auto;
    height: 24px;
    flex-shrink: 0;
  }

  span {
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
  }
}

.header__right-arrow {
  width: 10px;
  height: auto !important;
}

@media (max-width: 1080px) {
  .header__nav {
    display: none;
  }
}

@media (max-width: 540px) {
  .header__logo {
    width: 25vw;
  }
  .header__right {
    gap: 5vw;
  }
  .header__right-link {
    gap: 1vw;
  }
  .header__right-link img {
    height: 5vw;
  }
  .header__right-link span {
    font-size: 2.5vw;
  }
  .header__right-arrow {
    width: 2.2vw !important;
    height: auto !important;
}
}
