:root {
  --font-family: "Inter", sans-serif;
  --text-color: #0a0a0a;
  --black-color: #000;

  --text-color-2: #1e2939;
  --white-color: #fff;
  --header-bg: #001f3f;

  --red-bg: #e7000b;
  --text-red: #9f0712;
  --text-small: #4a5565;

  --block-bg-1: #fefce8;
  --border-color-1: #f0b100;

  --block-bg-2: #fef2f2;
  --border-color-2: #fb2c36;

  --items-bg-1: #f3f4f6;
  --items-bg-2: #eff6ff;
  --items-bg-3: #ffe1e2;
  --items-bg-4: #d4fde5;

  --info-advantage-bg: #f0fdf4;
  --info-advantage-bg-2: #f9fafb;

  --bar-number: #a800ff;
  --bar-btn-bg: #ffc500;
  --bar-btn-text: #610d90;

  --timer-bg: #fd0000;
  --border-order: #d0d5dd;
  --input-text-color: #858585;
  --current-price: #00aa28;
}
