:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Abel", sans-serif;
  --third-family: "Aboreto", sans-serif;
  --font3: "ADLaM Display", sans-serif;
  --font4: "ABeeZee", sans-serif;
}